%% 実稼動環境用のエラーロガー設定
%% 進捗レポートや情報レポートは出力せず、エラーログのみ。
[{sasl, [
        %% シェルへのエラーログは最小限にする
        {sasl_error_logger, false},

        %% エラーのみ報告
        {errlog_type, error},

        %% 循環ログのパラメータを定義する
        %% ログファイルのディレクトリ
        {error_logger_mf_dir, "/tmp"},

        %% ログファイル 1 つあたりのバイト数 = 10MB
        {error_logger_mf_maxbytes, 10485760},

        %% ログファイルの最大数
        {error_logger_mf_maxfiles, 10}
]}].
